* {
    margin: 0;
    border: 0;
    padding: 20px;
    box-sizing: border-box; 
    
}

body {
   
    
    background-image: url("../images/bloom.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    
}

#list, p {
    
    color: rgba(255, 235, 205, 0.753);
    list-style:none;
    margin: 10px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li { 
    padding-bottom: 20px;
}

h1 {
    
    color: gold;
    margin: 10px;
    padding: 25px;
    font-size: 120px;
    font-family: 'Pacifico', cursive;
    
}



